.head {
    text-align: center;
    font-size: medium;
    background-color: rgb(184, 193, 200);
    border-radius: 15px;
    border-width: 2px;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;

}

div {
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px;
  }

input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 10%;
    background-color: #2b66e6;
    color: white;
    padding: 14px 20px;
    margin: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  li {
    list-style-type: none;
  }
  
.btn {
    width: 10%;
    color: white;
    background-color: #2b66e6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 15px   ;
    margin:  1px 5px;
}

.fname {
    width: 75%;
    padding: 10px 20px; 
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #d3d7da;
}

/* .icon-e {
    background: url("../../public/edit_file_icon.png") no-repeat left;
    background-size: 50%;
    / * padding-left: 10px; * /
  } */

  /* .icon-d {
    background: url("../../public/trash_full_icon.png") no-repeat left;
    background-size: 30px;
  } */

  #list-01 {
    display: none;
  }